# Ignore dependency folders
backend/node_modules/
frontend/node_modules/

# Ignore local environment variables
.env
backend/.env
frontend/.env

# Ignore production builds
frontend/dist/
frontend/build/

# Ignore local SQLite database files so they don't overwrite each other in Git
backend/database.db
backend/database.db-journal

# Operating system files
.DS_Store
Thumbs.db