# Root Node Dependencies
node_modules/
dist/
dist-ssr/
*.local
*.log

# Backend Storage Blocks
backend/node_modules/
backend/database.db-journal
backend/codes/

# Frontend Ecosystem Blocks
frontend/node_modules/
frontend/dist/
frontend/build/

# Critical Security Variables (Never Push to GitHub)
.env
backend/.env
frontend/.env

# Editor and System files
.vscode/
.idea
.DS_Store
Thumbs.db